*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;

}
body{
    background-color: #eceacd;
    }
main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}
.contenedor__todo{
    width: 100%;
    max-width: 800px;
    margin:auto;
    position: relative;
}
.caja__trasera{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: rgb(46, 98, 61);
    border-radius: 5px;
}
.caja__trasera div{
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
}
.caja__trasera p, 
.caja__trasera div button{
    margin-top: 25px;
    border-radius: 12px;
}
.caja__trasera h3{
    font-weight: 400;
    font-size: 26px;
}
.caja__trasera button{
    padding: 10px 40px;
    border: 2px solid white;
    background: transparent;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
}
.caja__trasera button:hover{
    background: white;
    color: rgb( 57, 137, 79);
}
/*Formularios*/
.contenedor__login-register{
    display:flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;
    

    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}
.contenedor__login-register form{
    width: 100%;
    padding: 80px 20px;
    background: white;
    position: absolute;
    border-radius: 22px;
}
.contenedor__login-register form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(7, 46, 19);
}
.contenedor__login-register form input{
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    border: none;
    background: #f2f2f2;
    font-size: 14px;
    outline: none;
}
.contenedor__login-register form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background-color: rgb(27, 97, 57);
    color: white;
    cursor: pointer;
    outline: none;
    border-radius: 12px;
}

.formulario__login{
    opacity: 1;
    display: block;
}
.formulario__register{
    display:none;
}
/*responsiveeee :3 uwu*/
@media screen and (max-width: 850px){
    main{
        margin-top:50px;
    }
    .caja__trasera{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }
    .caja__trasera div{
        margin: 0px;
        position: absolute;
    }
    /*formulario */
    .contenedor__login-register{
        top:-10px;
        left: -5px;
        margin: auto;
    }
    .contenedor__login-register form{
        position: relative;
    }
}
.contenedor__login-register form select {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    border: none;
    background: #f2f2f2;
    font-size: 14px;
    outline: none;
    border-radius: 6px;
}

