@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}



.container {
    max-width: 80%;
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 0.8rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 2rem;
}

/* Estilos del formulario */
.form_examen {
    width: min(90%, 90rem);
    padding: 3rem;
}

.intrucciones-examen {
    font-size: 2rem;
    font-weight: 800;
    margin: 0;
}

.separador {
    border: none;
    background-color: #b3b3b3;
    height: 0.1rem;
    margin: 2.5rem 0;
}

.form_grupo {
    display: flex;
    gap: 40px;
}

.form_grupo-pregunta {
    flex-direction: column;
    margin: 2rem 0 4rem;
}

.numero-pregunta {
    font-weight: 600;
    border-radius: 50%;
    padding: 15px;
    text-align: center;
    background-color:#7DCEA0 ;
}

.opcion-correcta {
    text-align: end;
}

.pregunta {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
    margin-top: 1rem;
}


.input-opciones label {
    font-weight: 700;
}

/* Estilos de los botones */
.btn {
    background-color: #fff;
    color: #000;
    font-weight: 700;
    padding: 1.5rem 2.5rem;
    cursor: pointer;
    outline: none;
    border: none;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #044b26;
}

.btn-principal {
    background-color: #7DCEA0;
    color: #fff;
    font-weight: 700;
    padding: 10px 20px;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.3s ease;
}

.btn-principal:hover {
    color: #eeeeee;
    background-color: #044b26;
    border: transparent;
}

/* Agregar estilos para otros botones si es necesario */

/* Estilos para el encabezado */
header {
    background-color: #7DCEA0 ;
    padding: 25px 0;
}

header p {
    font-size: 2rem;
    font-weight: 800;
    color: #fff;
    margin: 0;
}
/* Estilo para el botón "Agregar más preguntas" */
#agregar-pregunta {
    background-color: #6b84c8;
    color: #fff;
    font-weight: 700;
    padding: 10px 20px;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.3s ease;
}

#agregar-pregunta:hover {
    color:#eae7e7;
    background-color: #354b86;
    border: transparent;
}

input[type="text"] {
    width: 50%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
